In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Bring in csv files and load into dataframes

In [2]:
#Bring in life expectancy csv
le_file = "Resources/life_expectancy.csv"
life_2010 = pd.read_csv(le_file)
life_2010.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
#Bring in life expectancy csv
le_file = "Resources/life_expectancy.csv"
life_2000 = pd.read_csv(le_file)
life_2000.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

## Cleaning of Data

#### Life Expectancy in 2010

In [4]:
life_2010.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
#just show years of 2000 to 2010
life_2010 = life_2010.loc[life_2010['Year']==2010]
life_2010

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
21,Albania,2010,Developing,76.2,91.0,1,5.28,41.822757,99.0,10,...,99.0,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5
37,Algeria,2010,Developing,74.7,119.0,21,0.45,430.717586,95.0,103,...,95.0,5.12,95.0,0.1,4463.394675,36117637.0,5.9,5.8,0.714,13.6
53,Angola,2010,Developing,49.6,365.0,78,7.80,191.653741,77.0,1190,...,81.0,3.39,77.0,2.5,3529.534820,23369131.0,9.1,9.0,0.488,9.0
69,Antigua and Barbuda,2010,Developing,75.6,138.0,0,7.84,1983.956937,98.0,0,...,99.0,5.63,98.0,0.1,12126.876140,NaN,3.3,3.3,0.783,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2863,Venezuela (Bolivarian Republic of),2010,Developing,73.7,158.0,9,7.22,0.000000,78.0,0,...,74.0,5.40,78.0,0.1,NaN,NaN,1.6,1.5,0.754,14.0
2879,Viet Nam,2010,Developing,75.2,133.0,29,3.93,0.000000,88.0,2809,...,94.0,6.36,93.0,0.1,NaN,NaN,14.5,15.4,0.647,11.9
2895,Yemen,2010,Developing,64.4,233.0,35,0.06,0.000000,76.0,510,...,77.0,5.17,76.0,0.1,NaN,NaN,13.7,13.7,0.488,8.5
2911,Zambia,2010,Developing,58.0,363.0,30,2.47,184.364910,83.0,15754,...,8.0,4.41,83.0,6.8,1463.213573,138533.0,6.7,6.5,0.533,11.8
2927,Zimbabwe,2010,Developing,52.4,527.0,29,5.21,53.308581,9.0,9696,...,89.0,5.37,89.0,15.7,713.635620,1486317.0,7.1,7.0,0.436,10.0

In [6]:
# Rename life expectancy column
life_2010 = life_2010.rename(columns={"Life expectancy ":"life_expectancy", "Country":"country","Status":"status"})
life_2010.head()

,country,Year,status,life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
21,Albania,2010,Developing,76.2,91.0,1,5.28,41.822757,99.0,10,...,99.0,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5
37,Algeria,2010,Developing,74.7,119.0,21,0.45,430.717586,95.0,103,...,95.0,5.12,95.0,0.1,4463.394675,36117637.0,5.9,5.8,0.714,13.6
53,Angola,2010,Developing,49.6,365.0,78,7.80,191.653741,77.0,1190,...,81.0,3.39,77.0,2.5,3529.534820,23369131.0,9.1,9.0,0.488,9.0
69,Antigua and Barbuda,2010,Developing,75.6,138.0,0,7.84,1983.956937,98.0,0,...,99.0,5.63,98.0,0.1,12126.876140,NaN,3.3,3.3,0.783,14.1

In [7]:
#Get only the columns we want
life_2010 = life_2010.drop(life_2010.iloc[:, 4:22], axis = 1) 
life_2010.head()

                country  Year      status  life_expectancy
5           Afghanistan  2010  Developing             58.8
21              Albania  2010  Developing             76.2
37              Algeria  2010  Developing             74.7
53               Angola  2010  Developing             49.6
69  Antigua and Barbuda  2010  Developing             75.6

In [8]:
life_2010 = life_2010.drop(columns="Year")
life_2010

                                 country      status  life_expectancy
5                            Afghanistan  Developing             58.8
21                               Albania  Developing             76.2
37                               Algeria  Developing             74.7
53                                Angola  Developing             49.6
69                   Antigua and Barbuda  Developing             75.6
...                                  ...         ...              ...
2863  Venezuela (Bolivarian Republic of)  Developing             73.7
2879                            Viet Nam  Developing             75.2
2895                               Yemen  Developing             64.4
2911                              Zambia  Developing             58.0
2927                            Zimbabwe  Developing             52.4

[183 rows x 3 columns]

In [9]:
#confirmation
life_2010.columns

Index(['country', 'status', 'life_expectancy'], dtype='object')

### Same process but for 2000

In [10]:
life_2000.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [11]:
#Show years only in 2000
life_2000 = life_2000.loc[life_2000['Year']==2000]
life_2000

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
31,Albania,2000,Developing,72.6,11.0,1,3.66,91.711541,96.0,662,...,97.0,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
63,Angola,2000,Developing,45.3,48.0,97,1.85,15.881493,NaN,2219,...,3.0,2.79,28.0,2.0,555.296942,1644924.0,1.9,1.9,0.382,4.6
79,Antigua and Barbuda,2000,Developing,73.6,156.0,0,7.27,1127.743470,NaN,0,...,96.0,4.13,95.0,0.1,9875.161736,NaN,3.7,3.6,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,Venezuela (Bolivarian Republic of),2000,Developing,72.5,168.0,11,8.01,0.000000,5.0,22,...,86.0,4.91,77.0,0.1,NaN,NaN,1.8,1.7,0.670,10.6
2889,Viet Nam,2000,Developing,73.4,139.0,33,1.60,0.000000,NaN,16512,...,96.0,4.89,96.0,0.1,NaN,NaN,15.8,16.4,0.569,10.4
2905,Yemen,2000,Developing,68.0,252.0,48,0.07,0.000000,14.0,0,...,74.0,4.14,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7
2921,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [12]:
# Rename life expectancy column
life_2000 = life_2000.rename(columns={"Life expectancy ":"life_expectancy", "Country":"country","Status":"status"})
life_2000

,country,Year,status,life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
31,Albania,2000,Developing,72.6,11.0,1,3.66,91.711541,96.0,662,...,97.0,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
63,Angola,2000,Developing,45.3,48.0,97,1.85,15.881493,NaN,2219,...,3.0,2.79,28.0,2.0,555.296942,1644924.0,1.9,1.9,0.382,4.6
79,Antigua and Barbuda,2000,Developing,73.6,156.0,0,7.27,1127.743470,NaN,0,...,96.0,4.13,95.0,0.1,9875.161736,NaN,3.7,3.6,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,Venezuela (Bolivarian Republic of),2000,Developing,72.5,168.0,11,8.01,0.000000,5.0,22,...,86.0,4.91,77.0,0.1,NaN,NaN,1.8,1.7,0.670,10.6
2889,Viet Nam,2000,Developing,73.4,139.0,33,1.60,0.000000,NaN,16512,...,96.0,4.89,96.0,0.1,NaN,NaN,15.8,16.4,0.569,10.4
2905,Yemen,2000,Developing,68.0,252.0,48,0.07,0.000000,14.0,0,...,74.0,4.14,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7
2921,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [13]:
#Get only the columns we want
life_2000 = life_2000.drop(life_2000.iloc[:, 4:22], axis = 1) 
life_2000

                                 country  Year      status  life_expectancy
15                           Afghanistan  2000  Developing             54.8
31                               Albania  2000  Developing             72.6
47                               Algeria  2000  Developing             71.3
63                                Angola  2000  Developing             45.3
79                   Antigua and Barbuda  2000  Developing             73.6
...                                  ...   ...         ...              ...
2873  Venezuela (Bolivarian Republic of)  2000  Developing             72.5
2889                            Viet Nam  2000  Developing             73.4
2905                               Yemen  2000  Developing             68.0
2921                              Zambia  2000  Developing             43.8
2937                            Zimbabwe  2000  Developing             46.0

[183 rows x 4 columns]

In [14]:
life_2000 = life_2000.drop(columns="Year")
life_2000

                                 country      status  life_expectancy
15                           Afghanistan  Developing             54.8
31                               Albania  Developing             72.6
47                               Algeria  Developing             71.3
63                                Angola  Developing             45.3
79                   Antigua and Barbuda  Developing             73.6
...                                  ...         ...              ...
2873  Venezuela (Bolivarian Republic of)  Developing             72.5
2889                            Viet Nam  Developing             73.4
2905                               Yemen  Developing             68.0
2921                              Zambia  Developing             43.8
2937                            Zimbabwe  Developing             46.0

[183 rows x 3 columns]

## Create database connection

In [17]:
import getpass
password = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [18]:
#Create connection
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/ETL_db")

In [19]:
# See tables
engine.table_names()

['ses_2000', 'ses_2010', 'life_expectancy_2010', 'life_expectancy_2000']

## Load dataframe into table in database

In [20]:
# Putting data from life_exp dataframe into table in SQL
life_2010.to_sql(name='life_expectancy_2010', con=engine, if_exists='append', index=False)

In [21]:
#confirm sql query from table
pd.read_sql_query("select * from life_expectancy_2010", con=engine).head()

               country      status  life_expectancy
0          Afghanistan  Developing               59
1              Albania  Developing               76
2              Algeria  Developing               75
3               Angola  Developing               50
4  Antigua and Barbuda  Developing               76

In [22]:
# Putting data from life_exp dataframe into table in SQL
life_2000.to_sql(name='life_expectancy_2000', con=engine, if_exists='append', index=False)

In [23]:
#confirm sql query from table
pd.read_sql_query("select * from life_expectancy_2000", con=engine).head()

               country      status  life_expectancy
0          Afghanistan  Developing               55
1              Albania  Developing               73
2              Algeria  Developing               71
3               Angola  Developing               45
4  Antigua and Barbuda  Developing               74